.app.dark {
  --bg-color: #222222;
  --inverted-bg-color: #ededed;

  --primary-color: #eeeeee;
  --secondary-color: #bbbbbb;
  --inverted-primary-color: #222222;
  --inverted-secondary-color: #444444;
}