.app_dark_theme {
  --bg-color: #303030;
  --primary-color: #d3d3d3;
  --secondary-color: #8f8f8f;
  --inverted-bg-color: #ededed;
  --inverted-primary-color: #0c0c0c;
  --inverted-secondary-color: #252525;

  // skeleton
  --skeleton-color: #3d3d3d;
  --skeleton-shadow: #424242;

  // code
  --code-bg: #3d3d3d;

  // card
  --card-bg: #474747;

  // listbox
  --listbox-bg: #474747;

  // redesigned
  --dark-bg-redesigned: #090F11;
  --bg-redesigned: #0C1214;
  --light-bg-redesigned: #151C1F;
  --text-redesigned: #DBDBDB;
  --hint-redesigned: #555;
  --cancel-redesigned: #D95757;
  --save-redesigned: #6CD98B;
  --icon-redesigned: #74A2B2;
  --accent-redesigned: #5ED3F3;
}
