.app.light {
  --bg-color: #ededed;
  --inverted-bg-color: #222222;

  --primary-color: #222222;
  --secondary-color: #444444;
  --inverted-primary-color: #eeeeee;
  --inverted-secondary-color: #bbbbbb;
}