.app_orange_theme {
  --bg-color: #fff7ee;
  --primary-color: #fa9d3a;
  --secondary-color: #DF3620;
  --inverted-bg-color: #ca6e0b;
  --inverted-primary-color: #fafafa;
  --inverted-secondary-color: #DF3620;

  // skeleton
  --skeleton-color: #f8e4c6;
  --skeleton-shadow: #ffe0b3;

  // code
  --code-bg: #fde5d1;

  // card
  --card-bg: #f0d1b0;

  // listbox
  --listbox-bg: #f0d1b0;
}