.app_orange_theme {
  --bg-color: #FCF3E8;
  --primary-color: #df8524;
  --secondary-color: #DF3620;
  --inverted-bg-color: #df8524;
  --inverted-primary-color: #FCF3E8;
  --inverted-secondary-color: #DF3620;
}