.app_orange_theme {
  --bg-color: #fff7ee;
  --primary-color: #fa9d3a;
  --secondary-color: #DF3620;
  --inverted-bg-color: #ca6e0b;
  --inverted-primary-color: #fafafa;
  --inverted-secondary-color: #DF3620;

  // skeleton
  --skeleton-color: #f8e4c6;
  --skeleton-shadow: #ffe0b3;

  // code
  --code-bg: #fde5d1;

  // card
  --card-bg: #f0d1b0;

  // listbox
  --listbox-bg: #f0d1b0;

  // redesigned
  --dark-bg-redesigned: #FFF3D6;
  --bg-redesigned: #F0C048;
  --light-bg-redesigned: #F2D791;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #FF5E5E;
  --save-redesigned: #52FA81;
  --icon-redesigned: #4875F0;
  --accent-redesigned: #1D59FF;
}
