.menu {
  position: absolute;
  background: var(--dark-bg-redesigned);
  z-index: var(--modal-z-index);
  display: flex;
  flex-direction: column;
}

.item {
  padding: 10px 25px;
  min-width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--text-redesigned);
  cursor: pointer;
}
